.Btn {
  color: white;
  cursor: pointer;
  background: #62a1eb;
  border: none;
  border-radius: 8px;
  width: 387px;
  height: 60px;
  // margin-bottom: 26px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
